<header class="header">
  <a href="#" class="logo"
    ><img src="" alt="CuberPunk" class="logo__image"
  /></a>
  <ul class="social-media">
    <li class="social-media__item">
      <a href="" class="social-media__link">YouTube</a>
    </li>
    <li class="social-media__item">
      <a href="" class="social-media__link">FaceBook</a>
    </li>
    <li class="social-media__item">
      <a href="" class="social-media__link">X-com</a>
    </li>
    <li class="social-media__item">
      <a href="" class="social-media__link">Twitch</a>
    </li>
    <li class="social-media__item">
      <a href="" class="social-media__link">Instagram</a>
    </li>
  </ul>
</header>
