<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="logo"
        ><img
          srcset="/images/logo.png 300w, /images/logo@2x.png 600w"
          sizes="(max-width: 899px) 300px, (min-width: 900px) 600px"
          alt="CuberPunk"
          class="logo__image"
      /></a>
      <ul class="social-media">
        <li class="social-media__item">
          <a
            href="https://www.youtube.com/"
            class="social-media__link"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="social-media__icon">
              <use href="./images/icons/icons.svg#icon-youtube-logo"></use></svg
          ></a>
        </li>
        <li class="social-media__item">
          <a
            href="https://www.facebook.com/"
            class="social-media__link"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="social-media__icon">
              <use
                href="./images/icons/icons.svg#icon-facebook-rect-logo"
              ></use></svg
          ></a>
        </li>
        <li class="social-media__item">
          <a
            href="https://x.com/"
            class="social-media__link"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="social-media__icon">
              <use
                href="./images/icons/icons.svg#icon-twitter-square-logo"
              ></use></svg
          ></a>
        </li>
        <li class="social-media__item">
          <a
            href="https://www.twitch.tv/"
            class="social-media__link"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="social-media__icon">
              <use href="./images/icons/icons.svg#icon-twitch-logo"></use></svg
          ></a>
        </li>
        <li class="social-media__item">
          <a
            href="https://www.instagram.com/"
            class="social-media__link"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="social-media__icon">
              <use
                href="./images/icons/icons.svg#icon-instagram-square-logo"
              ></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
